h1 {
    text-align:center;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightblue;
}

h5 {
    text-align:center;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: skyblue; 
}

mat-drawer-content {
    padding: 20px;
    padding-bottom: 20px;
}

.active {
    background-color: lightblue;
}

.header-background {
    padding: 50px;
    background-color: lightblue;
}

.container{
    max-width: 120;
    margin: auto;

}

#bodycontent {
    padding: 5%;
    text-align: justify;
}

/* #banner {
    background-color: lightblue;
} */

#backButton :hover {
    cursor: pointer;
  }