.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis-title {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}


.axis--x path {
    /*display: none;*/
}

.line {
    fill: none;
    stroke: steelblue;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 80px;					
    height: 30px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
  }

  #info{
    position:absolute;
    top:10px;
    right:15px;
   }
  