<h2>{{ title }}</h2>
<svg width="900" height="500"></svg>
<br>
<br>
<p><b>Press Button to Toggle and Line for Pop Effect</b></p>
<div id="onit">
    <!-- <button type="button" class="btn btn-primary" id="show_data">Show Data Points</button> -->
</div>
<br>
<br>
<div id="ofit">
<!-- <button type="button" class="btn btn-primary" id="hide_data">Hide Data Points</button> -->
</div>


<div id ="info" class="card" style="width: 18rem;" align="center">
        <div class="card-body">
        <h5 class="card-title">About Line Chart</h5>
        <p class="card-text" >Ten countries were chosen from <a href="http://databank.worldbank.org/data/reports.aspx?source=2&series=SP.RUR.TOTL.ZS&country=#" target="_blank">The World Bank - World Development Indicators.</a>Multi Series Line chart shows different countries with thier % rural population along the time axis at an interval of five years from 1992 to 2017.A relevant color scheme was also implemented, accompanied with a legend. 
        Line chart: As you hover over each circle, a tooltip will display relevant infromation on the circle. When you click on the line it will temporarily become thicker giving it a pop effect and making it stand out amongst the rest. As shown Portugal and China have had sharp decrease in their % rural population over time.</p>
        </div>
 </div>