<h4 class="titleh4">{{ title }}</h4>
<h4>Electric Vehicle Ranges</h4>
<div class="center-align">
<p>This chart shows the different ranges for electric cars. Some of these cars are electric and gas but only the range of its electric tank is displayed.
        Click on the icon on top of each lollipop to select the electric car of choice which will be used in the next map. 
        </p>


<svg width="1200px" height="700px" id="chart-lollipop" transform="translate(-90,0)"></svg>

<br/>
<br/>
<br/>
<h4>EV Stations in USA</h4>
<p>This map below shows the locations of all public electric car charging stations in the United States. 
        When you hover over a station's point, it will expand its radius to the length of the range of the electric car you chose in the lollipop map above.
        This allows you to see if you can make it from a certain point to another by hopping between charging stations.
        When you hover, the charging station's information is also displayed for you to use if desired.</p>
    </div>
<div id="article-position" width="1200px" height="700px">
<article>
</article>
</div>

