<h4 class="titleh4">{{ title }}</h4>

<div class="input-group mb-3">
        
        <input  type="number"  class="form-control" id="yr" width="10" min="1" max="15" placeholder="Enter the number of years you wish to own car" [(ngModel)]="model.year" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span type="button" class="btn btn-outline-secondary" id="enter_button" (click)="year_enter();">Continue</span>
        </div>
</div>

<p>Below is the general information for the car you currently have selected. 
To confirm your selection on this car, click "Save".</p>


<!-- <h2>{{ title }}</h2> -->
<!-- <div class="form-group row">
  <div class="col-xs-2">
      <label for="ex1">How long do you intend to own car:</label>
      <div ng-controller="MyCtrl">
        <input class="form-control" id="Text1" type="number"  [(ngModel)]="model.year" min="1" max="15">
      </div>      
      <input class="form-control" id="ex1" type="number" min="1" max="15"> 
  </div>
</div>     -->

<div>
  <label><b>Select Vehicle Segment</b></label>
  <div class="checkbox">
      <label><input type="checkbox" name = "vehicleSegment" value="car">Car</label>
  </div>
  <div class="checkbox">
      <label><input type="checkbox" name = "vehicleSegment" value="minivan">Minivan</label>
  </div>
  <div class="checkbox">
      <label><input type="checkbox" name = "vehicleSegment" value="suv">SUV</label>
  </div>
  <div class="checkbox">
      <label><input type="checkbox" name = "vehicleSegment" value="truck">Truck</label>
  </div>        
</div> 

<div>
  <label><b>Select Vehicle Size</b></label>
  <div class="checkbox">
      <label><input type="checkbox" name = "vehicleSize" value="compact">Compact</label>
  </div>
  <div class="checkbox">
      <label><input type="checkbox" name = "vehicleSize" value="large">Large</label>
  </div>
  <div class="checkbox">
      <label><input type="checkbox" name = "vehicleSize" value="midsized">Midsized</label>
  </div>
  <div class="checkbox">
      <label><input type="checkbox" name = "vehicleSize" value="mini">Mini</label>
  </div>
  <div class="checkbox">
      <label><input type="checkbox" name = "vehicleSize" value="subcompact">Subcompact</label>
  </div>          
</div> 

<form>
  <Label><b>Select Car Model</b></Label>
  <fieldset id="autoHeight">
      <select id="car-dropdown" name="locality"> <!-- class="selectpicker" placeholder="" data-live-search="false"> -->
              <!-- <option type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()"></option> -->
          <option value="None" selected="Selected">------- Select -------</option> -->
      </select>
  </fieldset>
</form>

<br/>
<div id="center-button">
    <button type="submit" id="btn" class="btn btn-primary">See Details</button>
</div>
<br/><br/><br/>


<div id="create" style="display:none"></div>
<button type="submit" id="btn" class="btn btn-primary" (click)="newMessage();">Save</button>

      
