<mat-drawer-container fullscreen>
        <mat-drawer mode="side" opened="true">
            <mat-menu ></mat-menu>
            <a mat-menu-item *ngFor="let item of examples" [routerLink]="item.route" routerLinkActive="active">{{ item.title }}</a>
        </mat-drawer>
        <mat-drawer-content>
            <div class= "jumbotron" id="banner">
                <h1>{{ title }}</h1>
                <h5>{{ subtitle }}</h5>
                <div class="container-fluid" id="bodycontent">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>